.more .More__btn-list{
    margin: 30px 0px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.More__btn-list .More__btn,
.more .suggestion{
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}/*suggestion 저걸 class로 삼는 element가 없어 보이는데 적용된다?*/

.More__btn .More_btn-title{
    font-size: 14px;
    margin-top: 15px;
}

.more .more__suggestions{
    border-top:1px solid #f7f7f7;
    padding-top: 20px;
}

.more .more__title{
    opacity: 0.8;
    margin-bottom: 20px;
}

.more .more__suggestions-list{
    display: flex;
    margin: 30px 0px;
    margin-left: 10px;
    align-items: center;

}

.suggestion .suggestion__title{
    font-size: 12px;
    margin-top: 15px;
}

.suggestion .suggestion__icon{
    background-color: #fce006;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: progress;
}

.suggestion__icon i{
    font-size: 28px;
    color: white;
}